source ~/.vimrc

""""""""""""""""""""""""""""""""""""""""""""""" .vimrc """""""""""""""""""""""""""""""""""""""""""""
nnoremap \\v :e ~/.vimrc<CR>
nnoremap \\i :e ~/.ideavimrc<CR>
nnoremap \\r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap \\t :action VimFindActionIdAction<CR>
""""""""""""""""""""""""""""""""""""""""""""""" build """"""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>bp :action BuildSolutionAction<CR>
""""""""""""""""""""""""""""""""""""""""""""""" debug """"""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>c :action Stop<CR>
nnoremap <leader>rp :action Run<CR>
nnoremap <leader>d :action Debug<CR>
nnoremap <leader>a :action XDebugger.AttachToProcess<CR>
nnoremap <leader>r :action Resume<CR>
nnoremap <leader>o :action StepOver<CR>
nnoremap <leader>i :action StepInto<CR>
nnoremap <leader>oo :action StepOut<CR>
nnoremap <leader>rc :action ForceRunToCursor<CR>
"""""""""""""""""""""""""""""""""""""""""" breakpoints """""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>be :action EditBreakpoint<CR>
nnoremap <leader>ba :action ViewBreakpoints<CR>
nnoremap <leader>bm :action XDebugger.MuteBreakpoints<CR>
nnoremap <leader>bra :action Debugger.RemoveAllBreakpointsInFile<CR>
nnoremap <leader>brA :action Debugger.RemoveAllBreakpoints<CR>
""""""""""""""""""""""""""""""""""""""""""""" bookmarks """"""""""""""""""""""""""""""""""""""""""""
nnoremap ,b :action ToggleBookmark<CR>
nnoremap ,ba :action ShowBookmarks<CR>
nnoremap ,nb :action GotoNextBookmark<CR>
nnoremap ,pb :action GotoPreviousBookmark<CR>
"""""""""""""""""""""""""""""""""""""""""""""""" new """""""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>n :action NewElement<CR>
""""""""""""""""""""""""""""""""""""""""""""""" find """""""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>ff :action GotoFile<CR>
" nnoremap <leader>fu :action ShowUsages<CR>                                       " gd works for this
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>fm :action FileStructurePopup<CR>
nnoremap <leader>fi :action GotoImplementation<CR>
nnoremap <leader>fs :action GotoSuperMethod<CR>
nnoremap <leader>fr :action RecentFiles<CR>
" nnoremap <leader>fR :action RecentChangedFiles<CR>                                   "do I need it?
nnoremap <leader>fe :action SelectInProjectView<CR>
""""""""""""""""""""""""""""""""""""""""""""" projects """""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>fp :action RiderManageRecentProjects<CR>
nnoremap <leader>wp :action CloseProject<CR>
nnoremap <leader>np :action NextProjectWindow<CR>
nnoremap <leader>pp :action PreviousProjectWindow<CR>
""""""""""""""""""""""""""""""""""""""""""""" refactor """""""""""""""""""""""""""""""""""""""""""""
nnoremap ,r :action ReformatCode<CR>
xnoremap ,r :action ReformatCode<CR>
nnoremap ,ri :action OptimizeImports<CR>
nnoremap ,re :action RenameElement<CR>
""""""""""""""""""""""""""""""""""""""""""""""""" git """"""""""""""""""""""""""""""""""""""""""""""
nnoremap ,nc :action VcsShowNextChangeMarker<CR>
nnoremap ,pc :action VcsShowPrevChangeMarker<CR>
nnoremap ,u :action Vcs.RollbackChangedLines<CR>
nnoremap ,a :action Annotate<CR>
nnoremap ,d :action Compare.SameVersion<CR>
nnoremap ,h :action Vcs.ShowHistoryForBlock<CR>
xnoremap ,h :action Vcs.ShowHistoryForBlock<CR>
nnoremap ,ha :action Vcs.ShowTabbedFileHistory<CR>
nnoremap ,lh :action LocalHistory.ShowHistory<CR>

""""""""""""""""""""""""""""""""""""""""""""""" tabs """""""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>w :action CloseContent<CR>
nnoremap <leader>wa :action CloseAllEditorsButActive<CR>
nnoremap <leader>wum :action CloseAllUnmodifiedEditors<CR>
nnoremap <leader>wup :action CloseAllUnpinnedEditors<CR>
nnoremap <leader>p :action PinActiveTab<CR>
"""""""""""""""""""""""""""""""""""""""""""""" windows """""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>th :action Terminal.OpenInReworkedTerminal<CR>
nnoremap <leader>lw :action JumpToLastWindow<CR>
" :action FocusEditor                     "Should stick with <Esc>. Mapping in IDE works like shit on Windows (either <C-e> or <A-e>)
" :action HideActiveWindow                "same as abowe, weired on Windows. Shoud stick with <S-Esc>
nnoremap <leader>ha :action HideAllWindows<CR>
nnoremap <leader>s :action ShowSettings<CR>
""""""""""""""""""""""""""""""""""""""""""""""" zen """"""""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
" nnoremap <leader>f :action ToggleFullScreen<CR>                                      "weird behaviour
" nnoremap <leader>fz :action ToggleZenMode<CR>                                        "weird behaviour
" nnoremap <leader>fz :action ToggleDistractionFreeMode \| action ToggleFullScreen<CR> "weird behaviour
